@page "/Edit-user-account"

@inject NavigationManager NavigationManager
@inject IUserService UserServices
@inject IUserProfileService UserProfileServices
@inject IGetProfileDataService GetProfileDataService
@inject LoggedUserService LoggedUserService

<PageTitle>Edit Account</PageTitle>


<EditForm Model="@userProfile" OnValidSubmit="Update">
	<DataAnnotationsValidator />
	<div class="mb-3">
		<label for="FirstName" class="form-label">First Name</label>
		<div class="col-md-15">
			<InputText class="form-control" @bind-Value="userProfile.User.FirstName" />
		</div>
		<ValidationMessage For="@(() => userProfile.User.FirstName)" />
	</div>
	<div class="mb-3">
		<label for="LastName" class="form-label">Last Name</label>
		<div class="col-md-15">
			<InputText class="form-control" @bind-Value="userProfile.User.LastName" />
		</div>
		<ValidationMessage For="@(() => userProfile.User.LastName)" />
	</div>
</EditForm>

@code {
	public int userId { get; set; }
	public UserEntity user { get; set; }
	public UserProfileEntity userProfile { get; set; }

	protected override void OnInitialized()
	{
		user = new();
		userProfile = new();
	}
}			