@page "/"
@page "/login"
@layout LoginLayout

@inject NavigationManager NavigationManager
@inject IUserService UserServices
@inject IAdoGetProfileData AdoGetProfileData
@using System.ComponentModel.DataAnnotations



<PageTitle>Login</PageTitle>
<div>
	<EditForm Model="loginUser">
		<DataAnnotationsValidator />
		<div>
			<div class="mb-2">
				<label for="FirstName" class="form-label">Login</label>
				<div class="col-md-4">
					<InputText class="form-control" @bind-Value="loginUser.InLogin" />
				</div>
				<ValidationMessage For="@(() => loginUser.InLogin)" />
			</div>
			<div class="mb-3">
				<label for="Password">Password</label>
				<div class="col-md-4">
					<InputText type="password" class="form-control" @bind-Value="loginUser.InPassword" />
				</div>
				<ValidationMessage For="@(() => loginUser.InPassword)" />
			</div>
			<div class="form-group">
				<button type="button" @onclick="(async () => await  SubmitLogin())" class=" btn btn-success">Submit</button>
				<button type="button" @onclick="(async () => await  Register())" class="btn btn-primary">Register Account</button>
			</div>
		</div>
	</EditForm>
</div>

@code {
	private LoginUser loginUser = new();
	protected UserEntity user = new();
	protected List<UserEntity> userList = new();

	protected async Task SubmitLogin()
	{
		user = UserServices.GetLogin(loginUser.InLogin, loginUser.InPassword);

		if (loginUser.InLogin == user.Login && loginUser.InPassword == user.Password)
		{
			NavigationManager.NavigateTo($"/user-detail/{user.Id.ToString()}");
		}
		else
		{
			return;
		}

	}

	protected async Task Register()
	{
		NavigationManager.NavigateTo("/register-account");
	}

	public class LoginUser
	{

		[Required(ErrorMessage = "Login required")]
		public string InLogin { get; set; }

		[Required(ErrorMessage = "Password required")]
		public string InPassword { get; set; }
	}
}